
.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style normal;
  font-variation-settings:
    "wdth" 100;
}




/* Header Section */
.banner {
    background-image: url(../image/hero-bg.png);
    height: 750px;
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 150px;
    padding-top: 20px;
    /* padding: 50px 0; */
}

.logo {
    font-size: 34px;
    font-weight: 900;
    color: #f2a71a;
    text-decoration: none;
}

.button-primary {
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
    color: #f2a71a;
    background-color: #2f2f2f;
    cursor: grab;
}

.font-size{
    font-size: 24;
    font-weight: 400;
}

.header-text {
    margin: 0px 265px;
    text-align: center;
    padding-top: 100px;

}

.secound-title {
    font-size: 65px;
    font-weight: bold;
    /* text-align: center; */
    color: #2f2f2f;
    margin-bottom: 25px;
}

.Main-body{
    display: flex;
    justify-content: space-between;
    margin: 0px 140px;
    padding-top: 68px;
    padding-bottom: 60px;
    align-items: center;
    background-color: white;
    gap: 500px;
}

.image-secound{
    border-radius: 50px;
}

.thirt-h{
    font-size: 42;
    font-weight: bold;
    margin-bottom: 0px;
}

.achivement{
    display: flex;
    justify-content: space-around;
}

.achivement-title{
    margin: 50px 140px;
    background-color: #fdf1dc;
    padding: 50px 130px;
    text-align: center;
    border-radius: 24px;
    color: #2f2f2f;
}

.fivethy{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 30px;
}

.size-pra{
    font-size: 20px;
    font-weight: 300;
    margin-top: 0px;
}

.hedline{
    font-size: 40px;
    margin-bottom: 0px;
}

/* list star */
.list-star{
    list-style: none;
    display: flex;
    margin-bottom: 0px;
}

.review{
    display: flex;
    margin: 0px 140px;
}

.testimonial{
    margin-top: 87px;
}

.testimonial-title{
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #2f2f2f;
}

.testimonial-cards{
    /* height: 243px;
    width: 366px; */
    display: flex;
    margin-right: 151px;
    margin-left: 149px;
    gap: 20px;
}

.testimonial-card{
    width: 366px;
    background-color: #fdf1dc;
    border: 1px solid rgba(242, 237, 237, 1);
    border-radius: 14px;
    padding: 24px;
}

.star-icon{
    height: 20px;
    width: 20px;
    display: flex;
    margin-bottom: 24px;
}

.testimonial-card h3{
    margin-bottom: 8px;
    color: rgba(30, 30, 30, 1);
    font-size: 25px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}

.testimonial-card-msg{
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 500;
}

.avatar{
    display: flex;
}

.avatar img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.user h4{
    color: rgb(117, 117, 117);
    margin-top: 0px;
    margin-bottom: 0px;
}

.user p{
    color: rgb(117, 117, 117);
    margin-top: 0px;
}

.sixthy{
    text-align: center;
    background-color: #fdf1dc;
    margin: 100px 140px;
    border-radius: 14px;
    padding: 71px 0px;
}
.sixthy h2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.sixthy p{
    text-align: center;
}

.button-primary{
    text-align: center;
    margin-bottom: 20px;
}

.sixthy div img{
    border-radius: 48px;
}